.DS_Store
.vscode/
generate_notebook.py
generate_final_notebook.py
generate_comprehensive_notebook.py
append_chapter3.py
fix_chapter3.py
fix_markdown.py
generate_hog.py
*.py
edge_detection/CSVs/Dataset_Features_Combined_Final.csv 
edge_detection/CSVs/Dataset_Features_Combined_Final.csv 
